.navbar {
    position: fixed;
    top: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 3rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    z-index: 1000;
  }
  
  .logo {
    height: 90px;
    width: auto;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
  }
  
  .nav-item:hover {
    color: #ffcc00;
    transform: translateY(-2px);
  }
  
  .dropdown {
    position: absolute;
    background: rgba(11, 11, 11, 0.1);
    backdrop-filter: blur(10px);
    padding: 0.2rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-width: 200px;
  }
  
  .dropdown-item {
    padding: 0.5rem 1rem;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffcc00;
  }
  
  .user-auth {
    display: flex;
  gap: 1rem;
  align-items: center;
  }
  
  .user-auth img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .user-auth img:hover {
    transform: scale(1.1);
  }
  .section {
    padding-top: 70px; /* Adjust based on your navbar height */
  }
  .auth-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .auth-item img {
    height: 30px;
    width: 30px;
    margin-bottom: 0.25rem;
  }
  
  .auth-item span {
    font-size: 0.9rem;
    color: white;
  }
  
  .auth-item:hover {
    transform: translateY(-2px);
  }
  
  .auth-item:hover span {
    color: #ffcc00;
  }

  .footer-section {
    scroll-margin-top: 70px; /* Height of the navbar */
  }