.main{
    background-image: url(assets/images/bg.jpg);
    height: 90vh;
    width: 100vw;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2000px, 100vw);
}
*{
    margin: 0px;
    padding: 0px;
}
.main .box{
    background-color: black;
    height: 90vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
}
nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 950px; */
    justify-content: space-between;
    max-width: 65vw;
    height: 100px;
    margin: auto;
    /* height: 30px; */
    /* margin-top: 20px; */
}
nav button{
    z-index: 10;
    position: relative;
}
nav img{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 100px);
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 35px;
    text-align: center;
}
.bold{
    font-weight: 900;
    font-size: 48px;
}
.btn2{
    background-color: red;
    color: white;
    height: 35px;
    width: 80px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}
.btn3{
    background-color: red;
    font-weight: 500;
    color: white;
    height: 42px;
    width: 142px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
select{
    background-color: black;
    color: white;
    height: 33px;
    width: 95px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    text-align: center;
}
body{
    background-color: black;
}
input{
    height: 45px;
    width: 267px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid white;
    background-color: black;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    /* text-align: left; */

}
.email{
    display: flex;
    align-items: center;
}
.separation{
    height: 8px;
    width: 100vw;
    background-color: rgb(56, 55, 55);
}
.first{
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    padding: 10px;
}
.tv{
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}
.secnd{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    /* text-align: center; */
}
.secImg{
    position: relative;
    /* height: 60%; */
}
.secImg img{
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 100px;
    right: 91px;
    width: 464px;
}
.tv :first-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.secImg2{
    position: relative;
}
.secImg2 img{
    position: relative;
    z-index: 10;
}
.secImg2 video{
    position: absolute;
    top: 41px;
    width: 391px;
    right: 129px;
}
.box{
    height: 50px;
    width: 60vw;
    background-color: rgb(59, 59, 59);
    color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    transition: all 1s ease-out;
    text-align: center;
}
.box:hover{
    background-color: red;
}
.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 48px;
    text-align: center;
}
.about{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.hero2{
    padding: 60px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* color: white; */
    max-width: 80vw;
    margin: auto;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* color: white; */
    
}
.footer-items a{
    /* text-decoration: none; */
    color: white;
    font-size: smaller;
}
.footer-items a:hover{
    color: blue;
}
.ques{
    max-width: 80vw;
    margin: auto;
}